:root {
    --white: hsl(0, 100%, 100%);

    --gray-500: hsl(227, 10%, 46%);
    --gray-100: hsl(225, 10%, 92%);

    --blue-600: hsl(185, 75%, 39%);
    --blue-400: hsl(183, 62%, 54%);

    --navy-950: hsl(229, 23%, 23%);

    --gradient-1: hsl(174, 100%, 66%);
    --gradient-2: hsl(195, 91%, 37%);

    --spacing-700: 3.5rem; //56px
    --spacing-300: 1.5rem; //24px
    --spacing-200: 1rem;   //16px
    --spacing-100: 0.5rem; //8px

    --font-main: 'Kumbh Sans', sans-serif;
}

$breakpoint-tablet: 768px;

@mixin mq-large {
    @media (min-width: #{$breakpoint-tablet}) {
        @content;
    }
}